body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #006738;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: #fff;
  color: #006738;
}

.page {
  margin: 20px;
  text-align: center;
}

.page h1 {
  color: #006738;
}

.page p {
  color: #333;
}